// Google Fonts.
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
  direction: ltr;
  font-family: 'Quicksand', sans-serif !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; 
}

.inline {
  display: inline;
}

button,
button:focus,
input:focus,
button:active {
  outline: 0 !important;
}

@media only screen and (max-width: 576px) {
  .about {
    .bigFont {
      font-size: 1.3rem !important;
    }
  }

  .topNavbar {
    width: 25%;
  }

}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70vw !important;
    margin: 1.75rem auto;
  }
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

// KeyFrames

@keyframes spin {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(-30px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(10px);
  }
}

a.scrollme {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  padding: 8px;
  display: block;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

a.scrollme:hover {
  color: #fff;
  background: rgb(4, 94, 150);
  text-decoration: none !important;
}

#top {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  width: auto;
  height: auto;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  background: rgba(4, 112, 201, 0.8);
  transition: all 0.5s;

  &:hover {
    transform: translateY(-20px) scale(1.1);
    text-decoration: none;
    background: rgb(1, 63, 114);
  }

  span {
    display: block;
    text-transform: uppercase;
  }

}


/* Toggler Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Scroll Bar */
#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#style-7::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148)));
}


/*$font-family-sans-serif: // Safari for macOS and iOS (San Francisco)
-apple-system,
// Chrome < 56 for macOS (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android
"Roboto",
// Basic web fallback
"Helvetica Neue",
Arial,
sans-serif,
// Emoji fonts
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;*/

.topNav {

  width: 100%;
  height: auto;
  min-height: 70px;
  background: rgba(0, 0, 0, 0.644);
  border-block-end: rgb(247, 208, 101) 2px solid;

  ul.topNavbar a,
  a:link,
  a:visited,
  a:active {
    text-align: center;
    color: antiquewhite;
    transition: all 0.2s;
  }

  ul.topNavbar a:hover {
    background: rgb(255, 217, 0);
    color: black;
    font-weight: 600;
    text-decoration: none;
    transform: scale(1.3) skewY(7deg) translateY(5px);
    border-block-end: rgb(255, 145, 0) 3px solid;

  }

}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;

  p {
    padding-top: 2rem;
  }

}

/* Close button */
.overlay .closebtn {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-30%, -50%);
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  width: 30%;
  margin: 0 auto;
  background: white;
  border-radius: 0.7rem;
  transition: all 0.5s;

  &:focus {
    width: 60%;
    -webkit-box-shadow: 0px 6px 28px 2px rgba(214, 214, 214, 0.4);
    -moz-box-shadow: 0px 6px 28px 2px rgba(214, 214, 214, 0.4);
    box-shadow: 0px 6px 28px 2px rgba(214, 214, 214, 0.4);
  }

}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.searchOpen {
  width: 50px;
  height: 50px;
  background: black;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: #fff;
    color: #000;
    transform: scale(1.2) rotate(360deg);
    border: 2px solid gray;
  }

}

.searchFixed {
  @extend .searchOpen;
  position: fixed;
  bottom: 6.5rem;
  right: 1.8rem;
}

.blueLine {
  color: #F5F5F5;
  padding: 15px 0;
  background: blue;
}

.loader {
  width: 100%;
  display: block;
  font-size: 5rem;
  margin: 2rem auto;

  i {
    display: block;
    text-align: center;
    animation: spin 0.3s infinite;
  }

}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(180deg);
  }
}

.bitIco {
  color: gold;
}

.container-fluid {

  overflow-x: hidden;
  padding: 0 !important;
  position: relative;

  header {
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../img/headerBg.jpg');
    background-attachment: fixed;
    background-position: top center;
    position: relative;
    transition: all .3s;

    &::after {
      content: '';
      width: 100%;
      height: 330px;
      background: url('../img/Sep-bot.png') no-repeat;
      background-position: center;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .logo {
      font-weight: 300;
      font-size: 3rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .badge {
      font-weight: 700;
    }

    .diamondB {
      width: 1000px;
      height: 500px;
      display: inline-block;
      position: absolute;
      margin: 1rem;
      left: 20%;
      bottom: 10%;
      opacity: 0.3;
      background: url('../img/allDiamonds.png') no-repeat;
      background-position: left;
      transition: all 0.3s;
    }

  }

  #scrollDown {
    position: relative;
    height: 25vh;

    p {
      font-size: 1.5rem;
      position: absolute;
      bottom: 0;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -60%);

      .arrowDown {
        display: block;
        color: rgb(15, 148, 236);
      }

    }
  }


  .card {

    border-radius: 7px;
    padding: 5px;
    transition: all 0.5s;
    background: linear-gradient(rgba(1, 62, 230, 0.9), rgba(1, 62, 230, 0.9)) ,
        url('https://www.newsbtc.com/wp-content/uploads/2018/10/fomo2-flat-700x400.jpg'); 
    

    &:hover {
      -webkit-box-shadow: 0px 0px 67px -11px rgba(18, 122, 250, 1);
      -moz-box-shadow: 0px 0px 67px -11px rgba(18, 122, 250, 1);
      box-shadow: 0px 0px 67px -11px rgba(18, 122, 250, 1);
      transform: rotateY(10deg) rotateX(10deg);
    }

    .cardImg {
      width: 90px;
      height: auto;
      margin: 1.5rem auto 0rem auto;
      background: white;
      border-radius: 100%;
      box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.13);

      &:hover {
        animation: bounce 1s;
      }

    }

    h4.card-title {
      font-size: 2.5rem;
      font-weight: 300;
    }

  }

  footer {
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-top: 2rem;
    background: rgb(0, 0, 0);
    border-top: 3px solid rgb(172, 172, 172);
    color: #F5F5F5;
    -webkit-box-shadow: 0px -11px 26px -15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -11px 26px -15px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -11px 26px -15px rgba(0, 0, 0, 0.7);

    ul.downNav {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        float: right;
        width: auto;
        height: auto;
        border-bottom: 2px solid #2196F3;
        margin-right: 0.3rem;
        padding: 5px;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 0.3s;

        &:first {
          margin-right: 0;
        }

        &:hover {
          background: rgb(4, 81, 145);
          transform: translateY(-7px);
        }

      }

      li a,
      a:link,
      a:visited,
      a:active,
      a:focus {
        display: inline;
        color: rgb(255, 255, 255);
      }

      li a:hover {
        color: #F5F5F5;
      }

    }

  }

}

// ContainerFluid

// Modal Box.

.modal {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  border-radius: 1rem !important;
}

.modal-header {
  display: block !important;

  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #e0e0e0 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #e0e0e0 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #e0e0e0 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #e0e0e0 100%);
  background: linear-gradient(to right, #ffffff 0%, #f6f6f6 47%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=1);

  i {
    animation: spin 7s infinite;
  }

}

button.close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

.modal-dialog {
  width: 100% !important;
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-footer {
  display: block !important;
}

.new_card {
  border-radius: 0.5rem !important;
  background: #499bea;
  background: -moz-linear-gradient(-45deg, #499bea 0%, #207ce5 100%);
  background: -webkit-linear-gradient(-45deg, #499bea 0%, #207ce5 100%);
  background: linear-gradient(135deg, #499bea 0%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#207ce5', GradientType=1);
}

// About.
.aboutTitle {
  background: rgb(125, 126, 125);
  background: -moz-linear-gradient(-45deg, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  background: linear-gradient(135deg, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=1);
  color: #fff;
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif !important;
  padding: 2rem;
}

.about {

  .bigFont {
    font-size: 3rem;
  }

  border-radius: 2rem;
  font-family: 'Quicksand',
  sans-serif;

  .blackBg {
    padding: 2rem;
    position: relative;
    color: #fff;
    background: rgb(69, 72, 77);
    background: -moz-linear-gradient(-45deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(135deg, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=1);

    span {
      display: block;
      padding: 1rem 0;
    }

    p {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

  .sideAbout {
    background: -moz-linear-gradient(-45deg, rgba(204, 204, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(204, 204, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(135deg, rgba(204, 204, 204, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6cccccc', endColorstr='#00000000', GradientType=1);
    padding: 2rem;
    position: relative;

    .aboutImg {
      width: 150px;
      height: auto;
      border-radius: 30%;
    }

    span {
      display: block;
      padding: 1rem 0;
    }

    p {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

  }

}